# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz
*.pyw
*.egg-info/
dist/
build/
*.egg
*.whl
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swj
*.swi
*.swg
*.swf
*.swe
*.swd
*.swc
*.swb
*.swa
*.sw9
*.sw8
*.sw7
*.sw6
*.sw5
*.sw4
*.sw3
*.sw2
*.sw1
*.sw0
*.svz
*.svy
*.svx
*.svw
*.svv
*.svu
*.svt
*.svs
*.svr
*.svq
*.svp
*.sv0
*.stz
*.sty
*.stx
*.stw
*.stv
*.stu
*.sts
*.str
*.stq
*.stp
*.st0
*.ssz
*.ssy
*.ssx
*.ssw
*.ssv
*.ssu
*.sst
*.sss
*.ssr
*.ssq
*.ssp
*.ss0
*.srz
*.sry
*.srx
*.srw
*.srv
*.sru
*.srt
*.srs
*.srq
*.srp
*.sr0
*.sqz
*.sqy
*.sqx
*.sqw
*.sqv
*.squ
*.sqt
*.sqs
*.sqr
*.sqp
*.sq0
*.spz
*.spy
*.spx
*.spw
*.spv
*.spu
*.spt
*.sps
*.spr
*.spq
*.sp0
*.so
*.sno
*.sna
*.smz
*.smy
*.smx
*.smw
*.smv
*.smu
*.smt
*.sms
*.smr
*.smq
*.smp
*.sm0
*.slz
*.sly
*.slx
*.slw
*.slv
*.slu
*.slt
*.sls
*.slr
*.slq
*.slp
*.sl0
*.skz
*.sky
*.skx
*.skw
*.skv
*.sku
*.skt
*.sks
*.skr
*.skq
*.skp
*.sk0
*.sjz
*.sjy
*.sjx
*.sjw
*.sjv
*.sju
*.sjt
*.sjs
*.sjr
*.sjq
*.sjp
*.sj0
*.siz
*.siy
*.six
*.siw
*.siv
*.siu
*.sit
*.sis
*.sir
*.siq
*.sip
*.si0
*.shz
*.shy
*.shx
*.shw
*.shv
*.shu
*.sht
*.shs
*.shr
*.shq
*.shp
*.sh0
*.sgz
*.sgy
*.sgx
*.sgw
*.sgv
*.sgu
*.sgt
*.sgs
*.sgr
*.sgq
*.sgp
*.sg0
*.sfz
*.sfy
*.sfx
*.sfw
*.sfv
*.sfu
*.sft
*.sfs
*.sfr
*.sfq
*.sfp
*.sf0
*.sez
*.sey
*.sex
*.sew
*.sev
*.seu
*.set
*.ses
*.ser
*.seq
*.sep
*.se0
*.sdz
*.sdy
*.sdx
*.sdw
*.sdv
*.sdu
*.sdt
*.sds
*.sdr
*.sdq
*.sdp
*.sd0
*.scz
*.scy
*.scx
*.scw
*.scv
*.scu
*.sct
*.scs
*.scr
*.scq
*.scp
*.sc0
*.sbz
*.sby
*.sbx
*.sbw
*.sbv
*.sbu
*.sbt
*.sbs
*.sbr
*.sbq
*.sbp
*.sb0
*.saz
*.say
*.sax
*.saw
*.sav
*.sau
*.sat
*.sas
*.sar
*.saq
backend_env/
venv/


# JavaScript
node_modules/
dist/